.bottom-panel {
	margin-top: 20px;
}

.bottom-panel .new-post-label {
	width: auto;
	flex-grow: 1;
	margin-right: 3px;
}

.input-name,
.input-email {
	width: 30%;
}

.input-phone {
	width: 16%;
}

.input-comment {
	width: 25%;
}

.btn-form {
	width: 90px;
}

.help {
	display: block;
	width: 80%;
	padding: 10px;
	margin-left: 30%;
	font-size: 14px;
}
